extends layout

block content
  p Welcome #{user}
  form(action='/submitAI', method='post')
    - if (ai)
      input(type='hidden'
      , name='_id'
      , value=ai._id)

    textarea.codeArea(
      name='code'
    , rows=25
    , cols=80
    , required=true
    , placeholder='Your code here...') #{ai ? ai.code : ''}

    br/
    input(type='submit', value='Save & Run!')
