extends layout

block content

  #viewerContainer

    canvas#viewer
      i Loading...

    #legendContainer
      h4 Summary
      #legend Loading..


  #historyContainer
    h4 Order history
    - if (!history)
      i No history
    - else
      ul
        - each order in history
          li=JSON.stringify(order)

    - if (!log || !log.length)
      i No log
    - else
      h2 Log
      ul
        - each line in log
          li!=JSON.stringify(line).replace(/\\n/g, '<br>').replace(/\\"/g, '')

  script.
    window.battleHistory = !{JSON.stringify(history)}
    window.initialMap = !{JSON.stringify(initialMap)}
    window.gameConfig = !{JSON.stringify(gameConfig)}
